html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	background: linear-gradient(-90deg, #6DD3CE, #1B998B, #004BA8, #ED217C);
	background-size: 300% 100%;
	animation: gradient 75s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#root {
	height: 100%;
}

.center-container {
  height: auto;
  max-height: 100%;
  width: auto;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: #DBDBDB;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
	margin-bottom: 0px;
	margin-top: 14px;
}

.center-container > div {
	margin: 0px 60px;
}

.center-container div.login-logout-buttons {	
	margin-bottom: 21.440px;
}

.amount-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.user-page-container {
	max-height: 90%;
	overflow: scroll;
}

.marker-btn {
	background: none;
	border: none;
	cursor: pointer;
}

.marker-btn img {
	width: 20px;
	height: 20px;
}